.box-img {
    width: 100%;
    height: 450px;
    background-color: white;
    margin-top: 0px;
    padding: 20px;
}

.img-isi-artikel{
    width: 100%;
    height: 450px;
}

.box-side {
    width: 100%;
    background-color: white;
    margin-top: 50px;
    padding: 20px;
}

.box-artikel {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 50px;
    padding: 20px;
}

.img-side{
    width: 100%;
    height: 150px;
}

/* .position {
    display: grid;
} */