body{
    margin: 0px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    padding: 0px;
}

.dash {
    padding: 20px;
}

.latestpost {
    width: 100%;
    height: 350px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

.popularpost {
    width: 100%;
    height: 350px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

.square-grafik {
    width: 100%;
    height: 350px;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

.container-dashboard {
    padding-top: 50px;
}

.sider {
    height: 900px;
    width: 15%;
    background-color: rgb(155, 155, 155);
}

.cols {
    width: 50%;
}

.card-visitor{
    background-image: linear-gradient(to left, rgb(202, 74, 74), rgb(221, 120, 120));
}

.card-artikel{
    background-image: linear-gradient(to left, rgb(74, 202, 127), rgb(120, 221, 145));
}