.box-img-artikel {
    width: 100%;
    height: 380px;
    background-color: blanchedalmond;
    opacity: 0.8;
    transition: 0.5s;
}

.box-img-artikel:hover {
    opacity: 1;
}

.box-img-artikel2 {
    width: 100%;
    height: 180px;
    background-color: blanchedalmond;
    margin-bottom: 20px;
    opacity: 0.8;
    transition: 0.5s;
}

.box-img-artikel2:hover {
    opacity: 1;
}